OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=

OPENAI_EMBEDDING_BASE_URL=
OPENAI_EMBEDDING_API_KEY=
OPENAI_EMBEDDING_MODEL=

MAX_TOKENS=
CORS_ORIGINS=
DATABASE_URL=

JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=