fastapi
uvicorn[standard]
python-multipart
pdfplumber
openai
python-dotenv
pydantic
pydantic-settings
httpx
aiofiles
numpy
tiktoken
sqlalchemy
# aiosqlite
asyncpg
greenlet
reportlab
python-docx
python-jose 
pwdlib[argon2]